@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="tr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> Msy Medya Ajansı </title>
    <meta name="description" content="Reklam ajansı">
    <meta name="keywords" content="Msy Media , media , medya , medya şirketi, konya, konya medya, konya reklam ajansı, ajans">
    <link rel="canonical" href="#">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/createpro-starter/assets/css/style-starter.css">

    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"> *@
    <link rel="icon" type="image/png" sizes="32x32" href="~/createpro-starter/favicon-32x32.png">
</head>
<body>
    <div class="header-saas">
        <!-- header -->
        <header id="site-header" class="fixed-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg stroke">
                    <a class="navbar-brand" href="/HomePage/Index">
                        <img src="~/createpro-starter/lgo.png" style="max-height: 115px; max-width:200px;" />
                    </a>
                    <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="/HomePage/Index" role="button">
                                    Ana Sayfa
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Service/Index">Hizmetlerimiz</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Reference/Index">Referanslarımız</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Contact/Index">İletişim</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="~/assets/images/gr.png" alt="Deutsch" width="30" height="30">
                                    <img src="~/assets/images/eng.png" alt="English" width="30" height="30">
                                    <img src="~/assets/images/tr.png" alt="Turkish" width="30" height="30">
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/Homepage/DeIndex/">Deutsch</a>
                                    <a class="dropdown-item" href="/Homepage/EnIndex/">English</a>
                                    <a class="dropdown-item" href="/Homepage/index/">Turkish</a>
                                </div>
                            </li>

                            <li>
                                <!--/search-right-->
                                <!--//search-right-->
                            </li>
                            <li class="mx-3">
                                <a href="/Contact/Index" class="btn btn-style btn-primary">Teklif Talebi</a>
                            </li>
                        </ul>
                    </div>
                    <!-- toggle switch for light and dark theme -->
                    <div class="mobile-position">
                        <nav class="navigation">
                            <div class="theme-switch-wrapper">
                                <label class="theme-switch" for="checkbox">
                                    <input type="checkbox" id="checkbox">
                                    <div class="mode-container">
                                        <i class="gg-sun"></i>
                                        <i class="gg-moon"></i>
                                    </div>
                                </label>
                            </div>
                        </nav>
                    </div>
                    <!-- //toggle switch for light and dark theme -->
                </nav>

            </div>
        </header>
        <!-- //header -->
    </div>
    <div class="innerblock">
    </div>

    @RenderBody()

    <section class="footer-17">
        <div class="footer17_sur py-5">
            <div class="container py-lg-5 py-md-4">
                <div class="footer17-top">
                    <div class="footer17-top-left1_sur">
                        <h6>Bize Ulaşın</h6>
                        <ul>
                            <li><a href="mailto:info@msymediagroup.com  ">info@msymediagroup.com  </a></li>
                            <li>
                                <a href="whatsapp:/send?phone=905395466042">
                                    05395466042
                                </a>
                            </li>
                            <li>
                                <a href="https://api.whatsapp.com/send?phone=905387425860" onclick="redirectToWhatsApp('905387425860'); return false;">
                                    05387425860
                                </a>
                            </li>



                        </ul>
                        <ul class="footers-17_social">
                            <li><a href="https://www.linkedin.com/in/msy-media-group-b96348300/" class="linkedin"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="https://www.instagram.com/msymediagroup/" class="instagram"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                    <div class="footer17-top-left2_sur">
                        <h6>Ürünler</h6>
                        <ul>
                            <li><a href="/Service/Index">Özellikler</a></li>
                            <li><a href="/Service/Index">Fiyatlandırma Planları</a></li>
                            <li><a href="/Service/Index">Son Haberler</a></li>
                            <li><a href="/Contact/Index">Yardım Masası</a></li>
                            <li><a href="/Contact/Index">Destek</a></li>
                        </ul>
                    </div>
                    <div class="footer17-top-left3_sur">
                        <h6>Şirket</h6>
                        <ul>
                            <li><a href="/Reference/Index">Hakkımızda</a></li>
                            <li><a href="/Contact/Index">Bizimle İletişime Geçin</a></li>
                        </ul>
                    </div>
                    <div class="footer17-top-left4_sur">
                        <h6>Hizmetler</h6>
                        <ul>
                            <li><a href="/Service/Index">Dijital Pazarlama</a></li>
                            <li><a href="/Service/Index">İşletmeler için SEO</a></li>
                            <li><a href="/Service/Index">İçerik Yazma</a></li>
                            <li><a href="/Service/Index">UI Tasarımı</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- sayfa başına git -->
        <button onclick="topFunction()" id="movetop" title="Sayfanın başına git">
            &#10548;
        </button>
        <script>
            // Kullanıcı sayfada 20 piksellik bir mesafeden aşağı inerse, düğmeyi göster
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // Kullanıcı düğmeye tıkladığında, sayfanın başına kaydır
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /sayfa başına git -->
    </section>
    <script src="~/createpro-starter/assets/js/jquery-3.3.1.min.js"></script>

    <script src="~/createpro-starter/assets/js/theme-change.js"></script><!-- theme switch js (light and dark)-->
    <!-- pricing tabs js -->
    <script src="~/createpro-starter/assets/js/tabs.js"></script>

    <!-- owlcarousel -->
    <script src="~/createpro-starter/assets/js/owl.carousel.js"></script>

    <!-- script for tesimonials carousel slider -->
    <script>
        $(document).ready(function () {
            $("#owl-demo1").owlCarousel({
                loop: true,
                nav: false,
                margin: 50,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    736: {
                        items: 2,
                        nav: false
                    }
                }
            })
        })
    </script>
    <!-- //script for tesimonials carousel slider -->
    <!-- script for tesimonials agency carousel slider -->
    <script>
        $(document).ready(function () {
            $("#owl-agency").owlCarousel({
                loop: true,
                nav: false,
                margin: 50,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    736: {
                        items: 1,
                        nav: false
                    }
                }
            })
        })
    </script>
    <!-- //script for tesimonials agency carousel slider -->
    <!-- magnific popup -->
    <script src="~/createpro-starter/assets/js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>
    <!-- //magnific popup -->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->
    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->

    <script src="~/createpro-starter/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var config = {
            phone: "0905511514372",
            call: "Nasıl yardımcı olabilirim?",
            position: "ww-left",
            size: "ww-normal",
            text: "Merhaba, hizmetinizle ilgileniyorum. İletişim numaralarımız üzerinden bizimle iletişime geçebilirsiniz. ",
            type: "ww-standard",
            brand: "",
            subtitle: "",
            welcome: ""
        };
        var proto = document.location.protocol, host = "cloudfront.net", url = proto + "//d3kzab8jj16n2f." + host;
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = url + "/v2/main.js";

        s.onload = function () { tmWidgetInit(config) };
        var x = document.getElementsByTagName("script")[0]; x.parentNode.insertBefore(s, x);
    </script>
    <script>
        function redirectToWhatsApp(phoneNumber) {
            window.location.href = 'https://wa.me/' + phoneNumber;
        }
    </script>


    <script>
        // JavaScript ile dil seçimini ayarla
        document.addEventListener("DOMContentLoaded", function () {
            // Dropdown öğesini bul
            var languageDropdown = document.getElementById("navbarDropdownMenuLink");

            // Dropdown menüsündeki her bir öğeye tıklanınca
            var dropdownItems = languageDropdown.nextElementSibling.querySelectorAll(".dropdown-item");
            dropdownItems.forEach(function (item) {
                item.addEventListener("click", function () {
                    // Seçilen dilin adını "Dil Seçimi" yerine koy
                    languageDropdown.textContent = this.textContent;
                });
            });
        });
    </script>


</body>

</html>

