@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DeLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Beidea-Starter/assets/css/style-starter.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/all.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/default.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<section class="w3l-content-4 py-5" id="features">
    <div class="content-4-main py-lg-5 py-md-4">
        <div class="container">
            <div class="title-content text-center">
                <h3 class="title-big">Beschleunigen Sie Ihr Projekt</h3>
                <p class="mt-3">
                    Wir sind hier, um unseren Kunden zu helfen, erfolgreich zu sein.
                </p>
            </div>
            <div class="content-info-in row mt-5 pt-lg-5">
                <div class="content-left col-lg-6">
                    <img src="~/createpro-starter/assets/images/saas3.jpg" class="img-fluid radius-image-full" alt="">
                </div>
                <div class="content-right col-lg-6 pl-lg-4 mt-lg-0 mt-5 align-self">
                    <div class="row content4-right-grids mb-md-5 mb-5">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-cogs"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info">
                            <h6><a href="#url">Ein Projekt erstellen</a></h6>
                            <p>
                                
                            </p>
                        </div>
                    </div>
                    <div class="row content4-right-grids mb-md-5 mb-5">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-wrench"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info">
                            <h6><a href="#url">Zuständige Personen zuweisen</a></h6>
                            <p>
                              
                            </p>
                        </div>
                    </div>
                    <div class="row content4-right-grids">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-clock-o"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info">
                            <h6><a href="#url">Zeitmanagement uns überlassen</a></h6>
                            <p>
                               
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- progress section -->
<section class="w3l-about-2 py-5">
    <div class="container py-md-5 py-4">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 about-2-secs-right mb-lg-0 mb-5">
                <img src="~/Beidea-Starter/assets/images/ab1.png" alt="" class="img-fluid img-responsive" />
            </div>
            <div class="col-lg-6 about-2-secs-left mt-lg-0 mt-sm-4 mt-2 pl-lg-5">
                <div class="style-title position-relative">
                    <h3 class="title-style mb-sm-3 mb-2">
                        <span>Wir sind die beste Agentur, um Ihr Geschäft zu verbessern</span>
                    </h3>
                </div>
                <p>
                    
                </p>
                <div class="w3l-progressblock mt-md-5 mt-4">
                    <div class="progress-info info1">
                        <h6 class="progress-tittle">Marktstrategie <span class="">80%</span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%"
                                 aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="progress-info info2">
                        <h6 class="progress-tittle">
                            Finanzunterstützung <span class="">95%</span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%"
                                 aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="progress-info info3 mb-0">
                        <h6 class="progress-tittle">Online-Berichterstattung <span class="">90%</span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%"
                                 aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- progress section -->
<section class="w3l-about-2 py-5">
    <div class="container py-md-5 py-4">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 about-2-secs-right mb-lg-0 mb-5">
                <img src="~/Beidea-Starter/assets/images/ab1.png" alt="" class="img-fluid img-responsive" />
            </div>
            <div class="col-lg-6 about-2-secs-left mt-lg-0 mt-sm-4 mt-2 pl-lg-5">
                <div class="style-title position-relative">
                    <h3 class="title-style mb-sm-3 mb-2">
                        <span>Wir sind die beste Agentur, um Ihr Geschäft zu verbessern</span>
                    </h3>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet efficitur tortor...
                </p>
                <div class="w3l-progressblock mt-md-5 mt-4">
                    <div class="progress-info info1">
                        <h6 class="progress-tittle">Marktstrategie <span class="">80%</span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%"
                                 aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="progress-info info2">
                        <h6 class="progress-tittle">
                            Finanzunterstützung <span class="">95%</span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%"
                                 aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="progress-info info3 mb-0">
                        <h6 class="progress-tittle">Online-Berichterstattung <span class="">90%</span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%"
                                 aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //progress section -->
<!-- features section -->
<section class="w3l-features py-5">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-sm-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase text-white">Dienstleistungen</p>
            <h3 class="title-style text-white">Entdecken Sie unsere <span>Dienstleistungen</span></h3>
        </div>
        <div class="row main-cont-wthree-2 justify-content-center">
            <div class="col-lg-7 feature-grid-right">
                <div class="call-grids-w3 d-grid">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-chart-pie"></i>
                        </div>
                        <h4>
                            <a href=/Contact/deIndex class="title-head">
                                Digitale Lösungen
                            </a>
                        </h4>
                    </div>

                    <!-- Hier weiter mit den anderen Dienstleistungen -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- //features section -->
<!-- about experience area -->
<div class="about-experience-area pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="experience-item">
                    <span>Seit 2016...</span>
                    <h2 class="title">Wir wachsen jeden Tag mit Ihrem Vertrauen!</h2>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="experience-item">
                    <br><br><br><br><br><br><br>
                    <p>MSY Media wächst jeden Tag mit Unternehmen, die auf Zusammenarbeit und Wertschätzung basieren.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //about experience area -->
<!-- leadership area -->
<div class="leadership-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/brand-item-3.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/brand-item-4.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/brand-item-5.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/brand-item-6.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/brand-item-7.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/brand-item-8.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/brand-item-9.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/brand-item-10.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/referanslar/bdc_logo.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/referanslar/csc-logo-200x104.png" alt="">
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/referanslar/gundeniz-ahg-logo.png" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/referanslar/kabirate.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/referanslar/karub-logo-blue.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/referanslar/kiliclar-hurdacilik-agir-metal-sanayi-ticaret-anonim-sirketi-logo-light.png"
                         alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/referanslar/logo-altinay-elektromobilite_478x170-160x57.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/referanslar/logo-dark.png" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/referanslar/logo22.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/referanslar/lurvelgenelservis.jpg" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/referanslar/murat-civata-logo-r2.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/referanslar/NGL-Logo-En200px.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/referanslar/omni.png" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/referanslar/proplan.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/referanslar/prosmt-yeni-logo-150x45-2.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/referanslar/sıddık.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/referanslar/tekno_logo.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/referanslar/tür-ip.png" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/referanslar/yHvsLNkXHzR0Qakpqb0E6zImP92m4KvMFljJ1Y2t.png" alt="">
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/11.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/12.png" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/15.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/17.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/simes.png" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/16.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/vakif.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/adidas.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/halkbank.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/tim.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/remax.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/haci.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="image-border">
                    <img src="~/assets/images/saglik.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- //leadership area -->
<!-- weiterer Inhalt -->
<!-- weiterer Inhalt -->
<section class="w3l-content-4 py-5">
    <div class="content-4-main py-md-5 py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class=" col-lg-6">
                    <img src="~/Beidea-Starter/assets/images/ab3.png" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 pl-lg-5 mt-lg-0 mt-5">
                    <div class="content4-right-info mb-4 pb-2">
                        <h6>
                            <a href="#url">
                                1. Marketing-Services
                            </a>
                        </h6>
                        <p>
                            Entdecken Sie unsere Marketing-Services, um Ihr Unternehmen sichtbarer zu machen.
                        </p>
                    </div>
                    <div class="content4-right-info mb-4 pb-2">
                        <h6>
                            <a href="#url">
                                2. 24/7 Call-Center-Service
                            </a>
                        </h6>
                        <p>
                            Nutzen Sie unseren 24/7 Call-Center-Service, um die Kundenzufriedenheit zu steigern und Unterstützung zu bieten.
                        </p>
                    </div>
                    <div class="content4-right-info">
                        <h6>
                            <a href="#url">
                                3. Social Media Marketing
                            </a>
                        </h6>
                        <p>
                            Nutzen Sie unser Social Media Marketing, um Ihre Zielgruppe zu erreichen und Ihre Marke zu präsentieren.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //weiterer Inhalt -->
<!-- //weiterer Inhalt -->
