@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DeLayout.cshtml";
}


   
    <head>
        <link rel="stylesheet" href="~/assets/css/style.css">
        <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/assets/css/all.css">
        <link rel="stylesheet" href="assets/css/style-starter.css">
    </head>

<section class="w3l-banner py-5" id="work">
    <div class="midd-w3 py-lg-5 py-md-4">
        <div class="container py-lg-4">
            <div class="row">
                <div class="col-lg-6 mt-lg-0 about-right-faq align-self">
                    <h3 class="title-toobig">Wir sind stolz darauf, Ihr Werbeagenturprojekt zu übernehmen.</h3>
                    <p class="mt-4">
                        Wir glauben, dass ein übernommenes Projekt erfolgreicher, qualitativ hochwertiger und nachhaltiger ist.
                    </p>
                    <a href="/Contact/deIndex" class="btn link-style p-0 mt-lg-5 mt-4">Lass uns jetzt an die Arbeit gehen! <span class="fa fa-long-arrow-right"></a>
                </div>
                <div class="col-lg-6 left-wthree-img mt-lg-0 mt-4">
                    <div class="position-relative">
                        <img src="~/createpro-starter/assets/images/12.png" alt="" class="img-fluid radius-image-full">
                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://youtu.be/QsY8fnvMn6c?si=33QdBG2nFZVcyttl" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-banner-saas py-5" id="work">
    <div class="midd-w3 py-lg-5 py-md-4">
        <div class="container py-lg-4">
            <div class="banner-content text-center">
                <h3 class="title-toobig">Social Media<br>Management Service </h3>
                <p class="mt-4">
                    Wenn Sie ein Konto erstellen möchten, das Ihre Professionalität und Markenidentität in den sozialen Medien widerspiegelt: Wir sind mit unserem kreativen und dynamischen Team für Sie da.
                </p>
                <a href="/Contact/deIndex" class="btn btn-style btn-primary mt-lg-5 mt-4 mr-2">
                    Kostenlos starten<span class="fa fa-long-arrow-right">
                </a>
                <a href="/Contact/deIndex" class="btn btn-style btn-outline-dark mt-lg-5 mt-4">Ein Angebot erhalten </a>
            </div>
            <br>
            <div class="text-center">
                <img src="~/createpro-starter/assets/images/dashboard1.jpg" alt="" class="img-fluid radius-image-full mt-lg-5 mt-4">
            </div>
        </div>
    </div>
</section>

<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="position-relative">
                        <img src="~/createpro-starter/assets/images/dashboard2.jpg" alt="" class="radius-image-full img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 pl-lg-5 mt-lg-0 mt-5 align-self">
                    <h3 class="title-big mx-0">
                        Kontrollieren Sie Ihre Website mit unserem verbesserten Dashboard
                    </h3>
                    <p class="mt-md-4 mt-3">
                        Mit unserem integrierten Dashboard wird die Kontrolle über Ihre Webpräsenz einfacher und effektiver. Ihr Luxus liegt darin, dass Sie alle Aspekte Ihrer Website von einer einzigen Benutzeroberfläche aus verwalten können. Mit unserem verbesserten Dashboard haben Sie alles von Content-Updates über Analysen bis hin zu Marketingstrategien im Griff.
                    </p>
                    <a href="/Contact/deIndex" class="btn link-style p-0 mt-lg-5 mt-4">
                        Kostenloses Angebot erhalten! <span class="fa fa-long-arrow-right">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>





<section class="w3l-index3" id="hakkimizda">
    <div class="midd-w3 py-5">
        <div class="container py-lg-4 py-md-3">
            <div class="row">
                <div class="col-lg-6 left-wthree-img text-lg-right">
                    <div class="position-relative">
                        <img src="~/solutions-starter/assets/images/about1.png" alt="" class="radius-image img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 about-right-faq align-self">
                    <span class="text mb-2">Unsere Mission</span>
                    <h3 class="title-big">
                        Unser kreatives Team weiß, wie man eine großartige Website entwickelt.
                    </h3>
                    <p class="mt-4">
                        Wir streben danach, durch Verbindungen zwischen Menschen digitale Erlebnisse zu transformieren. Indem wir Design und Technologie vereinen, bieten wir unseren Kunden unvergessliche und beeindruckende Weblösungen. Wir sind hier, um die Träume unserer Kunden zu verwirklichen.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pricing-columns pricing-section py-5" id="pricing">
    <div class="container pricing-style-w3ls py-lg-5 py-md-4">
        <div class="title-content text-center">
            <h3 class="title-big">Unsere Preisgestaltung</h3>
            <p class="mt-3">
                Wir bieten verschiedene Preispläne an, um die Bedürfnisse unserer Kunden zu erfüllen. Mit unseren Plänen haben Sie einfachen Zugriff auf die Tools, die Sie benötigen, um Ihr Geschäft auszubauen. Wir bieten sowohl für Start-up-Unternehmer als auch für große Unternehmen geeignete Optionen an.
            </p>
        </div>
        <div class="row pricing-chart mt-4">
            <div class="col-lg-4">
                <div class="plan popular">
                    <h3 class="pop-plan
">
                        Social Media Management
                    </h3>
                    <div class="price mb-4">
                        <span class="dollar">€</span>
                        <span class="amount" data-dollar-amount="35.000">35.000</span>
                        <span class="month">/monatlich</span>
                        <p class="">Monatlicher Kauf</p>
                    </div>
                    <p class="mt-4">
                        Wir sind hier, um Kunden dabei zu helfen, erfolgreich zu sein.
                    </p>
                    <a class="btn btn-outline-primary btn-style mt-lg-5 mt-4" href="/Contact/deIndex">Kostenlos starten</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="plan popular active">
                    <h3 class="pop-plan">Webdesign</h3>
                    <div class="price mb-4">
                        <span class="dollar">€</span>
                        <span class="amount" data-dollar-amount="20.000">20.000</span>
                        <p class="">Einmaliger Kauf</p>
                    </div>
                    <p class="mt-4">
                        Wir sind hier, um Kunden dabei zu helfen, erfolgreich zu sein.
                    </p>
                    <a class="btn btn-primary btn-style mt-lg-5 mt-4" href="/Contact/deIndex">Kostenlos starten</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="plan popular">
                    <h3 class="pop-plan">Grafikdesign-Service</h3>
                    <div class="price mb-4">
                        <span class="dollar"></span>
                        <span class="amount" data-dollar-amount="40">Angebot einholen</span>
                        <span class="month"></span>
                        <p class="">Projektbasiert</p>
                    </div>
                    <p class="mt-4">
                        Wir sind hier, um Kunden dabei zu helfen, erfolgreich zu sein.
                    </p>
                    <a class="btn btn-outline-primary btn-style mt-lg-5 mt-4" href="/Contact/deIndex">Kostenlos starten</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-index3" id="hakkimizda">
    <div class="midd-w3 py-5">
        <div class="container py-lg-4 py-md-3">
            <div class="row">
                <div class="col-lg-6 about-right-faq align-self">
                    <span class="text mb-2">Unsere Vision</span>
                    <h3 class="title-big">Wir streben danach, hochwertige kreative Lösungen anzubieten</h3>
                    <p class="mt-4">
                        Wir haben das Ziel, das Leben der Menschen durch kreative Lösungen zu berühren und zu beeinflussen. Indem wir Technologie und Design vereinen, bieten wir unseren Kunden einzigartige und hochwertige digitale Erfahrungen. Die Zufriedenheit und der Erfolg unserer Kunden stehen im Mittelpunkt unserer Arbeit.
                    </p>
                </div>
                <div class="col-lg-6 left-wthree-img text-lg-right mt-lg-0 mt-2">
                    <div class="position-relative">
                        <img src="~/solutions-starter/assets/images/about.png" alt="" class="radius-image img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
