@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_EnLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="assets/css/style-starter.css">
</head>

<section class="w3l-banner py-5" id="work">
    <div class="midd-w3 py-lg-5 py-md-4">
        <div class="container py-lg-4">
            <div class="row">
                <div class="col-lg-6 mt-lg-0 about-right-faq align-self">
                    <h3 class="title-toobig">We proudly announce that we embrace your projects as your advertising agency.</h3>
                    <p class="mt-4">
                        We believe that embraced work is more successful, higher quality, and more sustainable.
                    </p>
                    <a href="/Contact/enIndex" class="btn link-style p-0 mt-lg-5 mt-4">Let's get started now! <span class="fa fa-long-arrow-right"></span></a>
                </div>
                <div class="col-lg-6 left-wthree-img mt-lg-0 mt-4">
                    <div class="position-relative">
                        <img src="~/createpro-starter/assets/images/12.png" alt="" class="img-fluid radius-image-full">
                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://youtu.be/QsY8fnvMn6c?si=33QdBG2nFZVcyttl" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-banner-saas py-5" id="work">
    <div class="midd-w3 py-lg-5 py-md-4">
        <div class="container py-lg-4">
            <div class="banner-content text-center">
                <h3 class="title-toobig">Social Media<br>Management Service</h3>
                <p class="mt-4">
                    If you want to create an account that reflects your professionalism and brand identity on social media applications: We are here with our creative and dynamic team for social media service.
                </p>
                <a href="/Contact/enIndex" class="btn btn-style btn-primary mt-lg-5 mt-4 mr-2">
                    Get started for free<span class="fa fa-long-arrow-right"></span>
                </a>
                <a href="/Contact/enIndex" class="btn btn-style btn-outline-dark mt-lg-5 mt-4">Request a Quote</a>
            </div>
            <br>
            <div class="text-center">
                <img src="~/createpro-starter/assets/images/dashboard1.jpg" alt="" class="img-fluid radius-image-full mt-lg-5 mt-4">
            </div>
        </div>
    </div>
</section>

<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="position-relative">
                        <img src="~/createpro-starter/assets/images/dashboard2.jpg" alt="" class="radius-image-full img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 pl-lg-5 mt-lg-0 mt-5 align-self">
                    <h3 class="title-big mx-0">
                        Control your website with your improved panel
                    </h3>
                    <p class="mt-md-4 mt-3">
                        With the integrated panel on your site, managing your web presence is now easier and more effective. Your luxury is the ability to manage all aspects of your site from a single interface. With our improved panel, everything from content updates to analytics, user interactions to marketing strategies is at your fingertips.
                    </p>
                    <a href="/Contact/enIndex" class="btn link-style p-0 mt-lg-5 mt-4">
                        Get a free quote! <span class="fa fa-long-arrow-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 left-wthree-img text-lg-right">
                    <div class="position-relative">
                        <img src="~/solutions-starter/assets/images/about1.png" alt="" class="radius-image img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 about-right-faq align-self">
                    <span class="text mb-2">Our Mission</span>
                    <h3 class="title-big">
                        Our creative team knows how to develop an amazing website.
                    </h3>
                    <p class="mt-4">
                        We aim to transform digital experiences by building connections among people. By combining design and technology, we provide unforgettable and impactful web solutions for users. We're here to turn our clients' dreams into reality.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pricing-columns pricing-section py-5" id="pricing">
    <div class="container pricing-style-w3ls py-lg-5 py-md-4">
        <div class="title-content text-center">
            <h3 class="title-big">Our Pricing Plan</h3>
            <p class="mt-3">
                We offer various pricing plans to meet the needs of our clients. With the plans we offer, you can easily access the tools you need to grow your business. We provide suitable options for both entry-level entrepreneurs and large-scale businesses.
            </p>
        </div>
        <div class="row pricing-chart mt-4">
            <div class="col-lg-4">
                <div class="plan popular">
                    <h3 class="pop-plan">Social Media Management</h3>
                    <div class="price mb-4">
                        <span class="dollar">TRY</span>
                        <span class="amount" data-dollar-amount="35,000">35,000</span>
                        <span class="month">/month</span>
                        <p class="">Monthly Purchase</p>
                    </div>
                    <p class="mt-4">
                        We're here to help customers succeed.
                    </p>
                    <a class="btn btn-outline-primary btn-style mt-lg-5 mt-4" href="/Contact/enIndex">Get started for free</a>
                </div>
            </div>
            <div class="
col-lg-4">
                <div class="plan popular active">
                    <h3 class="pop-plan">Website Design</h3>
                    <div class="price mb-4">
                        <span class="dollar">TRY</span>
                        <span class="amount" data-dollar-amount="20,000">20,000</span>
                        <p class="">One-Time Purchase</p>
                    </div>
                    <p class="mt-4">
                        We're here to help customers succeed.
                    </p>
                    <a class="btn btn-primary btn-style mt-lg-5 mt-4" href="/Contact/enIndex">Get started for free</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="plan popular">
                    <h3 class="pop-plan">Graphic Design Service</h3>
                    <div class="price mb-4">
                        <span class="dollar"></span>
                        <span class="amount" data-dollar-amount="40">Get a Quote</span>
                        <span class="month"></span>
                        <p class="">Project-Based Purchase</p>
                    </div>
                    <p class="mt-4">
                        We're here to help customers succeed.
                    </p>
                    <a class="btn btn-outline-primary btn-style mt-lg-5 mt-4" href="/Contact/enIndex">Get started for free</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-4 py-md-3">
            <div class="row">
                <div class="col-lg-6 about-right-faq align-self">
                    <span class="text mb-2">Our Vision</span>
                    <h3 class="title-big">We aim to provide high-quality creative solutions</h3>
                    <p class="mt-4">
                        We aim to touch people's lives and influence them with creative solutions. By bringing technology and design together, we offer unique and high-quality digital experiences to our clients. Customer satisfaction and success are our focus.
                    </p>
                </div>
                <div class="col-lg-6 left-wthree-img text-lg-right mt-lg-0 mt-2">
                    <div class="position-relative">
                        <img src="~/solutions-starter/assets/images/about.png" alt="" class="radius-image img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
