@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


<head>
    <link rel="stylesheet" href="assets/css/style-starter.css">
  
</head>

<section class="w3l-banner py-5" id="work">
    <div class="midd-w3 py-lg-5 py-md-4">
        <div class="container py-lg-4">
            <div class="row">
                <div class="col-lg-6 mt-lg-0 about-right-faq align-self">
                    <h3 class="title-toobig">Gururla belirtmek isteriz ki, reklam ajansınız olarak projelerinizi sahipleniyoruz.</h3>
                    <p class="mt-4">
                        Sahiplenilen işin, daha başarılı, kaliteli ve daha sürdürülebilir olduğuna inanıyoruz.
                    </p>
                    <a href="/Contact/Index" class="btn link-style p-0 mt-lg-5 mt-4">Şimdi işe koyulalım! <span class="fa fa-long-arrow-right"></a>
                </div>
                <div class="col-lg-6 left-wthree-img mt-lg-0 mt-4">
                    <div class="position-relative">
                        <img src="~/createpro-starter/assets/images/12.png" alt="" class="img-fluid radius-image-full">
                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://youtu.be/QsY8fnvMn6c?si=33QdBG2nFZVcyttl" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-banner-saas py-5" id="work">
    <div class="midd-w3 py-lg-5 py-md-4">
        <div class="container py-lg-4">
            <div class="banner-content text-center">
                <h3 class="title-toobig">Sosyal Medya<br>Yönetimi Hizmeti </h3>
                <p class="mt-4">
                    Sosyal medya uygulamalarında profesyonelliğinizi ve marka kimliğinizi yansıtacak bir hesap yaratmak istiyorsanız:  Sosyal medya hizmeti yaratıcı ve dinamik ekibimizle yanınızdayız.
                </p>
                <a href="/Contact/Index" class="btn btn-style btn-primary mt-lg-5 mt-4 mr-2">
                    Ücretsiz başlayın<span class="fa fa-long-arrow-right">
                </a>
                <a href="/Contact/Index" class="btn btn-style btn-outline-dark mt-lg-5 mt-4">Teklif Al </a>
            </div>
            <br>
            <div class="text-center">
                <img src="~/createpro-starter/assets/images/dashboard1.jpg" alt="" class="img-fluid radius-image-full mt-lg-5 mt-4">
            </div>
        </div>
    </div>
</section>

<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="position-relative">
                        <img src="~/createpro-starter/assets/images/dashboard2.jpg" alt="" class="radius-image-full img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 pl-lg-5 mt-lg-0 mt-5 align-self">
                    <h3 class="title-big mx-0">
                        Geliştirilmiş panelinizle web sitenizi kontrol edin
                    </h3>
                    <p class="mt-md-4 mt-3">
                        Sitenizdeki entegre panelle, web varlığınızı kontrol etmek artık daha kolay ve etkili hale geliyor. Lüksünüz, tek bir arayüzden sitenizin tüm yönlerini yönetebilme yeteneğidir. İyileştirilmiş panelimizle, içerik güncellemelerinden analizlere, kullanıcı etkileşimlerinden pazarlama stratejilerine kadar her şey parmaklarınızın ucunda.
                    </p>
                    <a href="/Contact/Index" class="btn link-style p-0 mt-lg-5 mt-4">
                        Ücretsiz fiyat alın! <span class="fa fa-long-arrow-right">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>





<section class="w3l-index3" id="hakkimizda">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 left-wthree-img text-lg-right">
                    <div class="position-relative">
                        <img src="~/solutions-starter/assets/images/about1.png" alt="" class="radius-image img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 about-right-faq align-self">
                    <span class="text mb-2">Misyonumuz</span>
                    <h3 class="title-big">
                        Yaratıcı ekibimiz muhteşem bir web sitesi geliştirmeyi bilir.
                    </h3>
                    <p class="mt-4">
                        İnsanlar arasında bağlantılar kurarak, dijital deneyimleri dönüştürmeyi hedefliyoruz. Tasarım ve teknolojiyi birleştirerek, kullanıcılar için unutulmaz ve etkileyici web çözümleri sunuyoruz. Müşterilerimizin hayallerini gerçeğe dönüştürmek için buradayız.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pricing-columns pricing-section py-5" id="pricing">
    <div class="container pricing-style-w3ls py-lg-5 py-md-4">
        <div class="title-content text-center">
            <h3 class="title-big">Fiyatlandırma Planımız</h3>
            <p class="mt-3">
                Müşterilerimizin ihtiyaçlarını karşılamak için çeşitli fiyatlandırma planları sunuyoruz. Sunduğumuz planlarla, işinizi büyütmek için gerekli araçlara kolayca erişebilirsiniz. Hem başlangıç düzeyindeki girişimciler hem de büyük ölçekli işletmeler için uygun seçenekler sunuyoruz.
            </p>
        </div>
        <div class="row pricing-chart mt-4">
            <div class="col-lg-4">
                <div class="plan popular">
                    <h3 class="pop-plan">Sosyal Medya Yönetimi</h3>
                    <div class="price mb-4">
                        <span class="dollar">TL</span>
                        <span class="amount" data-dollar-amount="35.000">35.000</span>
                        <span class="month">/ay</span>
                        <p class="">Aylık Satın Alma</p>
                    </div>
                    <p class="mt-4">
                        Müşterilerin başarılı olmalarına yardımcı olmak için buradayız. 
                    </p>
                    <a class="btn btn-outline-primary btn-style mt-lg-5 mt-4" href="/Contact/Index">Ücretsiz başla</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="plan popular active">
                    <h3 class="pop-plan">Web Sitesi Tasarımı</h3>
                    <div class="price mb-4">
                        <span class="dollar">TL</span>
                        <span class="amount" data-dollar-amount="20.000">20.000</span>
                        <p class="">Tek Seferlik Satın Alma</p>
                    </div>
                    <p class="mt-4">
                        Müşterilerin başarılı olmalarına yardımcı olmak için buradayız. 
                    </p>
                    <a class="btn btn-primary btn-style mt-lg-5 mt-4" href="/Contact/Index">Ücretsiz başla</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="plan popular">
                    <h3 class="pop-plan">Grafik Tasarım Hizmeti</h3>
                    <div class="price mb-4">
                        <span class="dollar"></span>
                        <span class="amount" data-dollar-amount="40">Fiyat al</span>
                        <span class="month"></span>
                        <p class="">Proje Bazlı Satın Alma</p>
                    </div>
                    <p class="mt-4">
                        Müşterilerin başarılı olmalarına yardımcı olmak için buradayız.
                    </p>
                    <a class="btn btn-outline-primary btn-style mt-lg-5 mt-4" href="/Contact/Index">Ücretsiz başla</a>
                </div>
            </div>
        </div>

    </div>
</section>



<section class="w3l-index3" id="hakkimizda">
    <div class="midd-w3 py-5">
        <div class="container py-lg-4 py-md-3">
            <div class="row">
                <div class="col-lg-6 about-right-faq align-self">
                    <span class="text mb-2">Vizyonumuz</span>
                    <h3 class="title-big">Kaliteli yaratıcı çözümler sunmayı hedefliyoruz</h3>
                    <p class="mt-4">
                        Yaratıcı çözümlerle insanların hayatlarına dokunmayı ve onları etkilemeyi amaçlıyoruz. Teknolojiyi ve tasarımı bir araya getirerek, müşterilerimize özgün ve kaliteli dijital deneyimler sunuyoruz. Müşteri memnuniyetini ve başarılarını odak noktamız olarak belirledik.
                    </p>
                </div>
                <div class="col-lg-6 left-wthree-img text-lg-right mt-lg-0 mt-2">
                    <div class="position-relative">
                        <img src="~/solutions-starter/assets/images/about.png" alt="" class="radius-image img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




