@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DeLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/all.css">
</head>
    <section class="w3l-banner-agency py-5" id="work">
        <div class="midd-w3 py-lg-5 py-md-4">
            <div class="container py-lg-2">
                <div class="row">
                    <div class="col-lg-6 banner-content align-self pr-lg-5">
                        <h5 class="title-small mb-2">Bereit, die Grenzen der Kreativität zu überschreiten!</h5>
                        <h3 class="title-toobig">Wir sind hier, um Ihre Träume wahr werden zu lassen.</h3>
                        <p class="mt-4">
                            Wir sind hier, um in jedem Projekt, in jeder Kampagne einen Weg zu finden, der Ihr Unternehmen bestmöglich repräsentiert. Wir sind hier, um Ihnen zu helfen, sich in der Welt der Werbung und des Marketings zurechtzufinden. Ihr Erfolg ist unser Erfolg.
                        </p>
                        <a href="/Service/deIndex" class="btn btn-style btn-primary mt-lg-5 mt-4 mr-2">
                            Social-Media-Kontoanalyse <span class="fa fa-long-arrow-right"></span>
                        </a>
                        <a href="/Contact/deIndex" class="btn btn-style btn-outline-dark mt-lg-5 mt-4">Ein Angebot einholen</a>
                    </div>
                    <div class="col-lg-6 text-center">
                        <div class="image-block position-relative">
                            <img src="https://egegen.com/blog/wp-content/uploads/2017/03/web_tasarim.jpg" alt="" class="img-fluid rounded-circle mt-lg-0 mt-md-4" style="border-radius: 10%;">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Animationsikone -->
            <div class="icon-effects-w3-1 text-right">
                <img src="~/createpro-starter/assets/images/icon1.png" alt="" class="img-fluid">
            </div>
            <div class="icon-effects-w3-2 text-right">
                <img src="~/createpro-starter/assets/images/icon2.png" alt="" class="img-fluid">
            </div>
            <div class="icon-effects-w3-3 text-right">
                <img src="~/createpro-starter/assets/images/icon3.png" alt="" class="img-fluid">
            </div>
            <div class="icon-effects-w3-4 text-right">
                <img src="~/createpro-starter/assets/images/icon4.png" alt="" class="img-fluid">
            </div>
            <div class="icon-effects-w3-5 text-right">
                <img src="~/createpro-starter/assets/images/icon5.png" alt="" class="img-fluid">
            </div>
            <div class="icon-effects-w3-6 text-right">
                <img src="~/createpro-starter/assets/images/icon6.png" alt="" class="img-fluid">
            </div>
            <!-- //Animationsikone -->
        </div>
    </section>



    <!-- /Untere Gitter -->
    <section class="w3l-bottom-grids-6 py-5" id="services">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="title-content text-center">
                <h6 class="title-small text-center">Unsere Dienstleistungen</h6>
                <h3 class="title-big mb-sm-5 mb-4 pb-sm-o pb-2 text-center">Erleben Sie eine Erfahrung jenseits der Zufriedenheit!</h3>
            </div>
            <div class="grids-area-hny main-cont-wthree-fea row">
                <div class="col-lg-4 col-md-6 grids-feature">
                    <div class="area-box">
                        <span class="fa fa-meetup"></span>
                        <h4><a href="/Service/deIndex" class="title-head">Grafikdesign</a></h4>
                        <p>
                            Wir sind hier, um Ihre Marke in einen Lebensstil zu verwandeln. Wir verarbeiten jede Einzelheit Ihrer Geschichte mit Originalität.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                    <div class="area-box">
                        <span class="fa fa-desktop"></span>
                        <h4><a href="/Service/deIndex" class="title-head">Webentwicklung</a></h4>
                        <p>
                            Unser professionelles Team wird Ihre Marke mit einzigartigen Designs und benutzerfreundlicher Funktionalität hervorheben.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                    <div class="area-box">
                        <span class="fa fa-pencil-square-o"></span>
                        <h4><a href="/Service/deIndex" class="title-head">Inhalte erstellen</a></h4>
                        <p>
                            Entscheiden Sie sich für uns, um Ihre Geschichte mit den richtigen Worten zu erzählen und die Identität Ihrer Marke zu stärken.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //Untere Gitter -->
    <!-- Abschnitt -->
    <section class="w3l-index3" id="about">
        <div class="midd-w3 py-5">
            <div class="container py-lg-5 py-md-3 py-2">
                <h3 class="title-small">Unsere Geschichte</h3>
                <h3 class="title-big mx-0 mb-md-5 mb-4">
                    Wir nähern uns jedem Projekt mit Leidenschaft und bemühen uns, die Bedürfnisse unserer Kunden bestmöglich zu erfüllen.
                </h3>
                <div class="row">
                    <div class="col-lg-5 mb-lg-0 mb-md-5 mb-4 align-self pr-lg-5">
                        <img src="~/createpro-starter/assets/images/images3.jpg" alt="" class="radius-image-full img-fluid">
                    </div>
                    <div class="col-lg-7">
                        <div class="row position-relative">
                            <div class="col-md-6 col-7">
                                <img src="~/createpro-starter/assets
/images/images.jpg" alt="" class="radius-image-full img-fluid">
                            </div>
                            <div class="col-md-5 col-5 pl-lg-5 pl-0 mt-lg-5">
                                <img src="~/createpro-starter/assets/images/images2.jpg" alt="" class="radius-image-full img-fluid">
                            </div>
                        </div>
                        <p class="mt-md-5 mt-3">
                            Wir sind eine innovative Medienagentur, die die Transformation der digitalen Welt anführt. Wir heben Ihre Marken hervor, indem wir unsere Kreativität mit Technologie kombinieren. Wir sind hier, um die einzigartigen Bedürfnisse unserer Kunden zu verstehen und maßgeschneiderte Lösungen anzubieten.
                        </p>
                        <a href="/Service/deIndex" class="btn link-style p-0 mt-lg-5 mt-4">
                            Starten Sie einen kostenlosen Weg<span class="fa fa-long-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //Abschnitt -->

    <section class="w3l-portfolio-8 py-5">
        <div class="portfolio-main py-lg-5 py-md-4 py-2">
            <div class="container">
                <div class="title-content text-center">
                    <h3 class="title-small">Unsere Arbeiten</h3>
                    <h3 class="title-big mx-lg-5">Innovative Ideen für die Reise in die Zukunft!</h3>
                </div>
                <div class="row galler-top mx-lg-5 mt-5">
                    <div class="col-lg-6 col-md-6">
                        <div class="protfolio-item hover14 pr-lg-2">
                            <figure>
                                <img src="~/createpro-starter/assets/images/i.jpg" alt="product" class="img-fluid radius-image">
                                <div class="p-4">
                                    <p>Grafikdesign</p>
                                    <a href="/Service/deIndex" class="mb-5 img-title">Grafikdesign</a>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mt-lg-0 mt-4">
                        <div class="protfolio-item hover14 mt-4 pl-lg-2">
                            <figure>
                                <img src="~/createpro-starter/assets/images/i2.jpg" alt="product" class="img-fluid radius-image">
                                <div class="p-4">
                                    <p>Webentwicklung</p>
                                    <a href="/Service/deIndex" class="mb-5 img-title">Webseitenentwicklung</a>
                                </div>
                            </figure>
                        </div>
                        <div class="protfolio-item hover14 mt-4 pl-lg-2">
                            <figure>
                                <img src="~/createpro-starter/assets/images/i4.jpg" alt="product" class="img-fluid radius-image">
                                <div class="p-4">
                                    <p>Inhalte erstellen</p>
                                    <a href="/Service/deIndex" class="mb-5 img-title">Inhalte erstellen</a>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Über Block3 -->
    <section class="w3l-content-4 py-5" id="features">
        <div class="content-4-main py-lg-5 py-md-4">
            <div class="container">
                <div class="title-content text-center">
                    <h3 class="title-small"> Warum sollten Sie uns wählen?</h3>
                    <h3 class="title-big mx-lg-5">Die Leute wählen uns, weil wir für alle das Beste bieten!</h3>
                </div>
                <div class="content-info-in row mt-5 pt-lg-5">
                    <div class="content-left col-lg-6">
                        <div class="row content4-right-grids mb-sm-5 mb-4">
                            <div class="col-2 content4-right-icon">
                                <div class="content4-icon icon-clr1">
                                    <span class="fa fa-file-code-o"></span>
                                </div>
                            </div>
                            <div class="col-10 content4-right-info pl-5">
                                <h6><a href="#url"> Persönlicher Projektmanager. </a></h6>
                                <p>
                                    Unser professionelles Team führt Sie durch jeden Schritt, um Ihren Erfolg sicherzustellen.
                                </p>
                            </div>
                        </div>
                        <div class="row content4-right-grids mb-sm-5 mb-4">
                            <div class="col-2 content4-right-icon">
                                <div class="content4-icon icon-clr2">
                                    <span class="fa fa-share-square-o"></span>
                                </div>
                            </div>
                            <div class="col-10 content4-right-info pl-5">
                                <h6><a href="#url"> Einfache Kommunikation </a></h6>
                                <p>
                                    Wir arbeiten eng mit Ihnen zusammen, um Ihre Projekte optimal zu verwalten und ergebnisorientierte Lösungen anzubieten.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="content-right col-lg-6 pl-lg-4 mt-lg-0 mt-2">
                        <div class="row content4-right-grids mb-sm-5 mb-4">
                            <div class="col-2 content4-right-icon">
                                <div class="content4-icon icon-clr3">
                                    <span class="fa fa-tasks"></span>
                                </div>
                            </div>
                            <div class="col-10 content4-right-info pl-5">
                                <h6><a href="#url"> Originelle Designs. </a></h6>
                                <p>
                                    Wir codieren Ihr Traumdesign mit originellen Designs.
                                </p>
                            </div>
                        </div>
                        <div class="row content4-right-grids">
                            <div class="col-2 content4-right-icon">
                                <div class="content4-icon icon-clr4">
                                    <span class="fa fa-clock-o"></span>
                                </div>
                            </div>
                            <div class="col-10 content4-right-info pl-5">
                                <h6><a href="#url"> Verpassen Sie nie Ihren Endtermin. </a></h6>
                                <p>
                                    Wir geben Ihnen Feedback bis zum letzten Testtermin und liefern Ihre Bestellungen pünktlich aus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="w3l-project py-5">
        <div class="container py-md-5 py-sm-4 py-2">
            <div class="row">
                <div class="col-lg-8">

                    <div class="bottom-info">
                        <div class="header-section">
                            <h3 class="title-big">Sind Sie bereit, mit Ihrem Projekt zu beginnen?</h3>
                            <p class="mt-3 pr-lg-5">
                                Kontaktieren Sie uns noch heute!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 align-self text-lg-right">
                    <a href="/Contact/deIndex" class="btn btn-style btn-primary mt-lg-0 mt-md-5 mt-4">
                        Kontaktieren Sie uns!<span class="fa fa-long-arrow-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>

