@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_EnLayout.cshtml";
}



<section class="w3l-banner-agency py-5" id="work">
    <div class="midd-w3 py-lg-5 py-md-4">
        <div class="container py-lg-2">
            <div class="row">
                <div class="col-lg-6 banner-content align-self pr-lg-5">
                    <h5 class="title-small mb-2">Ready to push the boundaries of creativity!</h5>
                    <h3 class="title-toobig">We're here to turn your dreams into reality.</h3>
                    <p class="mt-4">
                        In every project, every campaign, we're here to find the best way to represent your business. We're here to help you navigate through the chaos of the advertising and marketing world. Your success is our success.
                    </p>
                    <a href="/Service/enIndex" class="btn btn-style btn-primary mt-lg-5 mt-4 mr-2">
                        Social Media Account Analysis <span class="fa fa-long-arrow-right"></span>
                    </a>
                    <a href="/Contact/enIndex" class="btn btn-style btn-outline-dark mt-lg-5 mt-4">Get a Quote</a>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="image-block position-relative">
                        <img src="https://egegen.com/blog/wp-content/uploads/2017/03/web_tasarim.jpg" alt="" class="img-fluid rounded-circle mt-lg-0 mt-md-4" style="border-radius: 10%;">
                    </div>
                </div>
            </div>
        </div>

        <!-- animations icons -->
        <div class="icon-effects-w3-1 text-right">
            <img src="~/createpro-starter/assets/images/icon1.png" alt="" class="img-fluid">
        </div>
        <div class="icon-effects-w3-2 text-right">
            <img src="~/createpro-starter/assets/images/icon2.png" alt="" class="img-fluid">
        </div>
        <div class="icon-effects-w3-3 text-right">
            <img src="~/createpro-starter/assets/images/icon3.png" alt="" class="img-fluid">
        </div>
        <div class="icon-effects-w3-4 text-right">
            <img src="~/createpro-starter/assets/images/icon4.png" alt="" class="img-fluid">
        </div>
        <div class="icon-effects-w3-5 text-right">
            <img src="~/createpro-starter/assets/images/icon5.png" alt="" class="img-fluid">
        </div>
        <div class="icon-effects-w3-6 text-right">
            <img src="~/createpro-starter/assets/images/icon6.png" alt="" class="img-fluid">
        </div>
        <!-- //animations icons -->
    </div>
</section>



<!-- /bottom-grids-->
<section class="w3l-bottom-grids-6 py-5" id="services">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-content text-center">
            <h6 class="title-small text-center">Our Services</h6>
            <h3 class="title-big mb-sm-5 mb-4 pb-sm-o pb-2 text-center">Experience Beyond Satisfaction!</h3>
        </div>
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-4 col-md-6 grids-feature">
                <div class="area-box">
                    <span class="fa fa-meetup"></span>
                    <h4><a href="/Service/enIndex" class="title-head">Graphic Design</a></h4>
                    <p>
                        We're here to turn your brand into a lifestyle. We craft every detail of your story with originality.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                <div class="area-box">
                    <span class="fa fa-desktop"></span>
                    <h4><a href="/Service/enIndex" class="title-head">Web Development</a></h4>
                    <p>
                        Our professional team will elevate your brand with unique designs and user-friendly functionality.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                <div class="area-box">
                    <span class="fa fa-pencil-square-o"></span>
                    <h4><a href="/Service/enIndex" class="title-head">Content Creation</a></h4>
                    <p>
                        Choose us to tell your story with the right words, strengthening your brand identity.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //bottom-grids-->
<!-- section -->
<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <h3 class="title-small">Our Story</h3>
            <h3 class="title-big mx-0 mb-md-5 mb-4">
                We approach every project with passion, striving to meet our clients' needs in the best way possible.
            </h3>
            <div class="row">
                <div class="col-lg-5 mb-lg-0 mb-md-5 mb-4 align-self pr-lg-5">
                    <img src="~/createpro-starter/assets/images/images3.jpg" alt="" class="radius-image-full img-fluid">
                </div>
                <div class="col-lg-7">
                    <div class="row position-relative">
                        <div class="col-md-6 col-7">
                            <img src="~/createpro-starter/assets/images/images.jpg" alt="" class="radius-image-full img-fluid">
                        </div>
                        <div class="col-md-5 col-5 pl-lg-5 pl-0 mt-lg-5">
                            <img src="~/createpro-starter/assets/images/images2.jpg" alt="" class="radius-image-full img-fluid">
                        </div>
                    </div>
                    <p class="mt-md-5 mt-3">
                        We are an innovative media agency leading the transformation of the digital world. We highlight your brands by combining our creativity with technology. We're here to understand our clients' unique needs and provide customized solutions.
                    </p>
                    <a href="/Service/enIndex" class="btn link-style p-0 mt-lg-5 mt-4">
                        Start a Free Road<span class="fa fa-long-arrow-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //section -->

<section class="w3l-portfolio-8 py-5
">
    <div class="portfolio-main py-lg-5 py-md-4 py-2">
        <div class="container">
            <div class="title-content text-center">
                <h3 class="title-small">Our Work</h3>
                <h3 class="title-big mx-lg-5">A Journey to the Future with Innovative Ideals!</h3>
            </div>
            <div class="row galler-top mx-lg-5 mt-5">
                <div class="col-lg-6 col-md-6">
                    <div class="protfolio-item hover14 pr-lg-2">

                        <figure>
                            <img src="~/createpro-starter/assets/images/i.jpg" alt="product" class="img-fluid radius-image">
                            <div class="p-4">
                                <p>Graphic Design</p>
                                <a href="/Service/enIndex" class="mb-5 img-title">Graphic Design</a>
                            </div>
                        </figure>

                    </div>

                </div>
                <div class="col-lg-6 col-md-6 mt-lg-0 mt-4">
                    <div class="protfolio-item hover14 mt-4 pl-lg-2">


                        <figure>
                            <img src="~/createpro-starter/assets/images/i2.jpg" alt="product" class="img-fluid radius-image">
                            <div class="p-4">
                                <p>Web Development</p>
                                <a href="/Service/enIndex" class="mb-5 img-title">Website Development</a>
                            </div>
                        </figure>

                    </div>
                    <div class="protfolio-item hover14 mt-4 pl-lg-2">

                        <figure>
                            <img src="~/createpro-starter/assets/images/i4.jpg" alt="product" class="img-fluid radius-image">
                            <div class="p-4">
                                <p>Content Writing</p>
                                <a href="/Service/enIndex" class="mb-5 img-title">Content Writing</a>
                            </div>
                        </figure>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about block3 -->
<section class="w3l-content-4 py-5" id="features">
    <div class="content-4-main py-lg-5 py-md-4">
        <div class="container">
            <div class="title-content text-center">
                <h3 class="title-small">Why Choose Us?</h3>
                <h3 class="title-big mx-lg-5">People Choose Us Because We Deliver the Best for Everyone!</h3>
            </div>
            <div class="content-info-in row mt-5 pt-lg-5">
                <div class="content-left col-lg-6">
                    <div class="row content4-right-grids mb-sm-5 mb-4">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon icon-clr1">
                                <span class="fa fa-file-code-o"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info pl-5">
                            <h6><a href="#url"> Dedicated Project Manager. </a></h6>
                            <p>
                                Our professional team guides you every step of the way to ensure your success.
                            </p>
                        </div>
                    </div>
                    <div class="row content4-right-grids mb-sm-5 mb-4">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon icon-clr2">
                                <span class="fa fa-share-square-o"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info pl-5">
                            <h6><a href="#url"> Easy Communication </a></h6>
                            <p>
                                Working closely with you, we manage your projects efficiently and provide result-oriented solutions.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="content-right col-lg-6 pl-lg-4 mt-lg-0 mt-2">
                    <div class="row content4-right-grids mb-sm-5 mb-4">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon icon-clr3">
                                <span class="fa fa-tasks"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info pl-5">
                            <h6><a href="#url"> Original Designs. </a></h6>
                            <p>
                                We code your dream design with originality.
                            </p>
                        </div>
                    </div>
                    <div class="row content4-right-grids">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon icon-clr4">
                                <span class="fa fa-clock-o"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info pl-5">
                            <h6><a href="#url"> Never Miss Your Final Test Date. </a></h6>
                            <p>
                                We provide feedback to you until the final test date and deliver our orders on time.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="w3l-project py-5">
    <div class="container py-md-5 py-sm-4 py-2">
        <div class="row">
            <div class="col-lg-8">
                <div class="bottom-info">
                    <div class="header-section">
                        <h3 class="title-big">Ready to start your project?</h3>
                        <p class="mt-3 pr-lg-5">
                            Contact us right away!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 align-self text-lg-right">
                <a href="/Contact/enIndex" class="btn btn-style btn-primary mt-lg-0 mt-md-5 mt-4">
                    Contact Us!<span class="fa fa-long-arrow-right"></span>
                </a>
            </div>
        </div>
    </div>
</section>
